nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 20px;
	position: sticky;
	top: 0;
	background: #a9d9ee;
}
.nav-logo {
	display: flex;

	align-items: center;
}
.nav-logo img {
	width: 80px;
	height: 80px;
}
.nav-links {
	display: flex;
	align-items: center;
	gap: 50px;
}
.nav-links a {
	margin-left: 20px;
	text-decoration: none;
	color: #333;
}

.nav_login {
	border: 1px solid #333;
	padding: 7px 15px;
	border-radius: 10px;
	background-color: unset;
}
